.navbar{
    background-color: transparent;

}

.title-text{
    font-family: 'Lobster', cursive;
    color: rgb(248, 245, 239);
    font-size: 40px;
}

.title-text:hover{
    color: rgb(248, 245, 239);
}

.button{
    background-color: transparent;
    color: rgb(248, 245, 239);
    border-color: rgb(248, 245, 239);

}

.navbar-item{
    color: rgb(248, 245, 239);
}

.navbar-burger{
    color: rgb(248, 245, 239);
}

.navbar-item-font{
    font-family: 'Noto Serif', serif;
}

.navbar-item:hover{
    background-color: transparent;
    color: rgb(248, 245, 239);

}

#language_button:hover{
    text-decoration: underline;
}

.navbar-menu{

    background-color: transparent;
    z-index: 3;


}