<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item title-text" href="/">
			alexmassotherapy
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="toggleMenuStyle()">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a href='#about-section' class="navbar-item navbar-item-font">
				About
			</a>

			<a href='#qualifications-section' class="navbar-item navbar-item-font">
				Qualifications
			</a>

			<a href='#prices-section' class="navbar-item navbar-item-font">
				Prices
			</a>

			<a href='#contact-section' class="navbar-item navbar-item-font">
				Contact
			</a>


		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<!-- <span class="icon">
					<i class="fa fa-language"></i>
				</span> -->

				<div class="buttons">
					<a class="button is-rounded navbar-item-font" href="mailto:alexmassotherapy@gmail.com">
						<span class="icon">
							<i class="fa fa-envelope"></i>
						</span>
						<span>Book an Appointment</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
