<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item title-text" href="/" *transloco="let t;">
			{{ t('title')}}
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="toggleMenuStyle()">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a href='#about-section' class="navbar-item navbar-item-font" *transloco="let t;">
				{{ t('about')}}
			</a>

			<a href='#qualifications-section' class="navbar-item navbar-item-font" *transloco="let t;">
				{{ t('qualifications')}}
			</a>

			<a href='#prices-section' class="navbar-item navbar-item-font" *transloco="let t;">
				{{ t('prices')}}
			</a>

			<a href='#contact-section' class="navbar-item navbar-item-font" *transloco="let t;">
				{{ t('contact')}}
			</a>

			


		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<!-- <span class="icon">
					<i class="fa fa-language"></i>
				</span> -->

				<div class="buttons">
					<a class="button is-rounded navbar-item-font" href="https://appt.link/meet-with-alex-perron/example-meeting" target="_blank">
						<span class="icon">
							<i class="fa fa-envelope"></i>
						</span>
						<span *transloco="let t;">
							{{ t('book-an-appointment')}}
						</span>
					</a>
				</div>
			</div>
			<a (click)="changeLanguage($event)" class="navbar-item navbar-item-font" *transloco="let t;">
				{{ t('language')}}
			</a>
		</div>
	</div>
</nav>
