<div class="bg-img">


	<div class="columns title-section">
		<div class="column">
			<!-- LEFT SIDE BORDER - add breakpoint to hide for mobile -->
		</div>
	
		<div class="column is-four-fifths">
			<app-navbar></app-navbar>

			<h1 class="is-size-4 title-text">Relaxing & Theraputic in-home massage</h1>

		</div>
	
	
		<div class="column">
			<!-- RIGHT SIDE BORDER - add breakpoint to hide for mobile -->
		</div>
		
	
	</div>

</div>

<app-content-text></app-content-text>





<router-outlet></router-outlet>