.content-container{
    background-color: rgb(242, 242, 242);
    z-index: 2;
    font-family: 'Noto Serif', serif;
    
}

.content-container-mission{
    background-color: white;
    z-index: 2;
    font-family: 'Noto Serif', serif;

    
}

.has-border-bottom{
    border-bottom: 2px solid rgb(59, 43, 26);
}


.mission-quote{
    font-style: italic;
    font-weight: bold;
}

.about-list{
    list-style-type: circle;
}
.about-list li{
    font-weight: bold;
}

.my-heading{
    align-self: flex-start;
}



@media only screen and (max-width: 768px) {

    .map-photo{
        width: 85%;
    }

}

@media only screen and (min-width: 768px) {

    .map-photo{
        width: 60%;
    }

}

