<div class="content-container columns" *transloco="let t;">
	<div class="column">
		<!-- LEFT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>

	<div class="column is-four-fifths">
        
        <p class="is-size-1 ml-4">{{ t('top-message-bold')}}</p>
        <p class="is-size-4 ml-4">{{ t('top-message-light')}}</p>

	</div>


	<div class="column" >
		<!-- RIGHT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>
</div>

<div class="content-container-mission columns" *transloco="let t;">
	<div class="column" style="background-color: rgb(254, 253, 253)">
		<!-- LEFT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>

	<div class="column is-four-fifths">
        <!-- MISSION SECTION -->
        <div class="columns has-border-bottom mt-2" style="background-color: rgb(254, 253, 253)">

        </div>
        <div class="columns has-border-bottom" style="background-color: rgb(254, 253, 253)">
            <div class="column">
                <img src="assets/img/alexmassage1-edit.jpg">
            </div>
            <div class="column is-two-thirds is-flex-direction-column is-flex is-justify-content-center">
                <p class="is-size-5 ml-4 mission-text">
                    {{ t('mission-main-text')}}
                </p>
                <p class="is-size-6 ml-4 mt-4 mission-quote">
                    {{ t('mission-quote')}}
                </p>
            </div>

        </div>

        <!-- ABOUT SECTION -->
        <div class="columns has-border-bottom" style="background-color: rgb(254, 253, 253)">

            <div class="column is-two-thirds is-flex-direction-column is-flex is-justify-content-center">
                <h1 id='about-section' class="ml-4 mb-4 is-size-2 my-heading">
                    {{ t('about')}}
                </h1>
                <!-- <p class="is-size-5 ml-4 mission-text mb-3">Hello there!</p> -->
                <p class="is-size-5 ml-4 mission-text">
                    {{ t('about-main')}}
                </p>
                <ul class="is-size-6 about-list ml-6 mt-4">
                    <li>{{ t('about-list-1')}}</li>
                    <li>{{ t('about-list-2')}}</li>
                    <li>{{ t('about-list-3')}}</li>
                </ul>

            </div>

            <div class="column">
                <img src="assets/img/alexmassage2-edit.jpg">
            </div>

        </div>

        <!-- MAP SECTION -->
        <div class="columns has-border-bottom" style="background-color: rgb(254, 253, 253)">
            <div class="column has-text-centered">
                <h1 id='map-section' class="ml-4 mb-4 is-size-2 my-heading" >{{ t('locations')}}</h1>
                <p class="mt-4 has-text-weight-bold" >
                    {{ t('locations-text')}}
                </p>
                
                <img class="map-photo" src="assets/svg/greater-montreal-clean.svg">
            </div>
            
        </div>


        <!-- QUALIFICATIONS/PRICES SECTION -->
        <div class="columns" style="background-color: rgb(254, 253, 253)">

            <div class="column">
                <h1 id='prices-section' class="ml-4 mb-4 is-size-2 my-heading" >
                    {{ t('prices')}}
                </h1>
                
                <ul class="is-size-6 about-list ml-6" >
                    <li>{{ t('prices-list-1')}}</li>
                    <li>{{ t('prices-list-2')}}</li>
                    <li>{{ t('prices-list-3')}}</li>

                </ul>
            </div>

            <div class="column is-flex-direction-column is-flex is-justify-content-center mb-5">
                <h1 id="qualifications-section" class="ml-4 mb-4 is-size-2 my-heading" >
                    {{ t('qualifications')}}
                </h1>
                <!-- <p class="is-size-5 ml-4 mission-text mb-3">I'm certified in:</p>
                 -->
                <ul class="is-size-6 about-list ml-6" >
                    <li>{{ t('certified-list-1')}}</li>
                    <li>{{ t('certified-list-2')}}</li>
                    <li>{{ t('certified-list-3')}}</li>
                    <li>{{ t('certified-list-4')}}</li>
                    <li>{{ t('certified-list-5')}}</li>
                    <li>{{ t('certified-list-6')}}</li>
                </ul>

            </div>
        </div>


	</div>


	<div class="column" style="background-color: rgb(254, 253, 253)">
		<!-- RIGHT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>
</div>

<div class="content-container columns" *transloco="let t;">
	<div class="column">
		<!-- LEFT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>

	<div class="column is-four-fifths">
        <!-- CONTACT SECTION -->
        <div id='contact-section' class="columns">
            <div class="column has-text-centered mb-4">
                <p class="mt-4 has-text-weight-bold" >
                    {{ t('contact-line-1')}}
                </p>
                <a class="has-text-weight-bold is-size-5 has-color-dark" href="mailto:alexmassotherapy@gmail.com">alexmassotherapy@gmail.com</a>
                <p class="has-text-weight-bold is-size-5">(514) 638-4972</p>

            </div>
            
        </div>

	</div>


	<div class="column">
		<!-- RIGHT SIDE BORDER - add breakpoint to hide for mobile -->
	</div>
</div>